:root {
  --bg-primary: #0d1b2a;
  --bg-sec: #1b263b;
  --bg-accent: #007bff;
  --bg-primary-light: #ffffff;
  --bg-sec-light: #f1f3f5;

  --text-dark: #0d1b2a;
  --text-light: #ffffff;
  --text-sec: #b0b8c1;
  --text-accent: #007bff;

  --disabled: #d7d7d7;
  --error: #f04438;
  --stroke: #e0e6ed;

  --dark-blue: #2d40c4;

  --line-140: 140%;
  --line-160: 160%;
  --line-180: 180%;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
